.btn {
    margin-right: 5px;
}

.col-12 {
    padding-left: 300px;
}

.material {
    padding-left: 285px;
}

.buttonSalvar {
    margin-left: 35px;
    margin-right: 35px;
}

.cad {
    margin-top: 0px;
    margin-bottom: 13px;
    align-items: center;
    padding: 20px;
}

.productButton, .materialButton {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40%;
    align-items: center;
    margin-bottom: 30px;
}

.table {
    border-left: 50%;
}
.tableActions {
    width: 200px;
}

.tableType {
    width: 5px;
}

.productForm {
    padding-bottom: 400px;
    padding-left: 60px;
}

.materialForm {
    padding-bottom: 100px;
    padding-left: 80px;
}