.btn {
    margin-right: 5px;
}

.col-12 {
    padding-left: 300px;
}

.buttonSalvar {
    margin-left: 35px;
    margin-right: 35px;
}

.cad {
    margin-top: 0px;
    margin-bottom: 13px;
    align-items: center;
    padding: 20px;
}

.productButton {
    margin-left: 40%;
    align-items: center;
}

.table {
    border-left: 50%;
}
.tableActions {
    width: 200px;
}

.tableType {
    width: 5px;
}

.productForm {
    padding-bottom: 400px;
    padding-left: 60px;
}

.materialForm {
    padding-bottom: 100px;
}